In [1]:
import pandas as pd

In [2]:
prova = pd.read_csv("adult.data", sep=",")
prova

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## *Preprocessing* : the column labels are not consistent with the features declared in the "adult.names" file 
 * In that case it could be helpful the "header" parameter of the read_csv method

In [3]:
indexes = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", \
          "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "<=50K"]

In [4]:
dataset = pd.read_csv("adult.data", sep=",", header = None, names=indexes)
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Now that the headers are correct we can move on to the *Data Cleaning* phase

* Check if there are Nan values

In [5]:
dataset.isnull().any()

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
<=50K             False
dtype: bool

* Check for duplicates

In [6]:
dataset.duplicated().any()

True

In [7]:
dataset.drop_duplicates(inplace=True)

In [8]:
print(str(len(dataset.columns))+" columns")
print(str(len(dataset))+" rows")

15 columns
32537 rows

## Since the dataset has already been altered, from the adult.names file we know of the presence of "?" values, used to replace the "Unknown" value, so let's remove the lines containing the value ?

In [9]:
dataset.isin([" ?"]).any()

age               False
workclass          True
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation         True
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country     True
<=50K             False
dtype: bool

In [10]:
for column in dataset.columns:
    index_to_delete = dataset[ dataset[column] == ' ?'].index
    dataset.drop(index_to_delete,inplace=True)

In [11]:
dataset.reset_index(inplace=True, drop=True)

* The "?" values are successfully removed

### The values of the "<=50K" are replaced with 0 and 1 (being a binary value)

In [12]:
dataset.replace({'<=50K': '<=50K'}, value=0, regex=True, inplace=True)
dataset.replace({'<=50K': '>50K'}, value=1, regex=True, inplace=True)
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30134,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
30135,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
30136,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
30137,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
30138,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

### The values of the "sex" are replaced with 0 and 1 (being a binary value)

In [13]:
dataset.replace({'sex': 'Male'}, value=0, regex=True, inplace=True)
dataset.replace({'sex': 'Female'}, value=1, regex=True, inplace=True)
dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,0,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,0,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,0,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,1,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30134,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,1,0,0,38,United-States,0
30135,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,0,0,0,40,United-States,1
30136,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,1,0,0,40,United-States,0
30137,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,0,0,0,20,United-States,0
30138,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,1,15024,0,40,United-States,1

# Commento da fare

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
def Encoding(columnName):
    a = dataset[columnName].unique()
    a.sort()

    #colonne = dataset.columns
    encoder = OneHotEncoder(handle_unknown='ignore')
    encoder_df = pd.DataFrame(encoder.fit_transform(dataset[[columnName]]).astype(int).toarray())
    
    diz = {i:columnName+'( '+el+' )' for i,el in enumerate(a)}
        
    dataset2 = dataset.join(encoder_df)
    dataset2.drop(columnName, axis=1, inplace=True)
    dataset2.rename(columns=diz, inplace=True)
    return dataset2

In [16]:
datatypes = dataset.dtypes
columnNames = dataset.columns
for i,el in enumerate(datatypes):
    if el == "object":
        dataset = Encoding(columnNames[i])
dataset

,age,fnlwgt,education-num,sex,capital-gain,capital-loss,hours-per-week,<=50K,workclass( Federal-gov ),workclass( Local-gov ),...,native-country( Portugal ),native-country( Puerto-Rico ),native-country( Scotland ),native-country( South ),native-country( Taiwan ),native-country( Thailand ),native-country( Trinadad&Tobago ),native-country( United-States ),native-country( Vietnam ),native-country( Yugoslavia )
0,39,77516,13,0,2174,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,0,13,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30134,27,257302,12,1,0,0,38,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30135,40,154374,9,0,0,0,40,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30136,58,151910,9,1,0,0,40,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30137,22,201490,9,0,0,0,20,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30138,52,287927,9,1,15024,0,40,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
for column in dataset.columns:
    print(column)

age
fnlwgt
education-num
sex
capital-gain
capital-loss
hours-per-week
<=50K
workclass(  Federal-gov )
workclass(  Local-gov )
workclass(  Private )
workclass(  Self-emp-inc )
workclass(  Self-emp-not-inc )
workclass(  State-gov )
workclass(  Without-pay )
education(  10th )
education(  11th )
education(  12th )
education(  1st-4th )
education(  5th-6th )
education(  7th-8th )
education(  9th )
education(  Assoc-acdm )
education(  Assoc-voc )
education(  Bachelors )
education(  Doctorate )
education(  HS-grad )
education(  Masters )
education(  Preschool )
education(  Prof-school )
education(  Some-college )
marital-status(  Divorced )
marital-status(  Married-AF-spouse )
marital-status(  Married-civ-spouse )
marital-status(  Married-spouse-absent )
marital-status(  Never-married )
marital-status(  Separated )
marital-status(  Widowed )
occupation(  Adm-clerical )
occupation(  Armed-Forces )
occupation(  Craft-repair )
occupation(  Exec-managerial )
occupation(  Farming-fishing )
occupation(  Handlers-cleaners )
occupation(  Machine-op-inspct )
occupation(  Other-service )
occupation(  Priv-house-serv )
occupation(  Prof-specialty )
occupation(  Protective-serv )
occupation(  Sales )
occupation(  Tech-support )
occupation(  Transport-moving )
relationship(  Husband )
relationship(  Not-in-family )
relationship(  Other-relative )
relationship(  Own-child )
relationship(  Unmarried )
relationship(  Wife )
race(  Amer-Indian-Eskimo )
race(  Asian-Pac-Islander )
race(  Black )
race(  Other )
race(  White )
native-country(  Cambodia )
native-country(  Canada )
native-country(  China )
native-country(  Columbia )
native-country(  Cuba )
native-country(  Dominican-Republic )
native-country(  Ecuador )
native-country(  El-Salvador )
native-country(  England )
native-country(  France )
native-country(  Germany )
native-country(  Greece )
native-country(  Guatemala )
native-country(  Haiti )
native-country(  Holand-Netherlands )
native-country(  Honduras )
native-country(  Hong )
native-country(  Hungary )
native-country(  India )
native-country(  Iran )
native-country(  Ireland )
native-country(  Italy )
native-country(  Jamaica )
native-country(  Japan )
native-country(  Laos )
native-country(  Mexico )
native-country(  Nicaragua )
native-country(  Outlying-US(Guam-USVI-etc) )
native-country(  Peru )
native-country(  Philippines )
native-country(  Poland )
native-country(  Portugal )
native-country(  Puerto-Rico )
native-country(  Scotland )
native-country(  South )
native-country(  Taiwan )
native-country(  Thailand )
native-country(  Trinadad&Tobago )
native-country(  United-States )
native-country(  Vietnam )
native-country(  Yugoslavia )

In [ ]:
print('true')